<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </section>
  </aside>

  <div class="span8">
    <% if @user.courses.any? %>
        <h3>Courses (<%= @user.courses.count %>)</h3>
        <ol class="courses">
          <%= render @courses %>
        </ol>
        <%= will_paginate @courses %>       <!-- divide pages for courses, may be deleted -->
    <% end %>
  </div>
</div>




